mat-card {
  width: 300px;
  position: absolute;
  top: 20px;
  left: 50px;
  padding: 1.5em;
}

mat-card-actions {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
}

mat-card-content {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

mat-form-field {
    width: 100%;
}
