<mat-card>
    <form novalidate (ngSubmit)="login()" [formGroup]="userForm">
        <mat-card-header>
            <mat-card-title>Log in</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-form-field>
                <mat-label>Usuário</mat-label>
                <input matInput id="usuarioId" type="text" formControlName="usuario">
                <mat-error *ngIf="userForm.get('usuario').errors?.required">
                    Por favor inserir um usuário
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Senha</mat-label>
                <input matInput id="senhaId" type="password" formControlName="senha">
                <mat-error *ngIf="userForm.get('senha').errors?.required">
                    Por favor inserir uma senha
                </mat-error>
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button type="button">Cancel</button>
            <button mat-button type="submit" color="primary" [disabled]="!userForm.valid">Log in</button>
        </mat-card-actions>
    </form>
</mat-card>