<mat-card>
  <mat-card-header>
    <mat-card-title>Angular Expert</mat-card-title>
    <mat-card-subtitle>Deep Dive</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>

    <body>
      Reactive Forms, RxJs, Angular Routing e Angular Material
    </body>
    <footer>
      <div>
        <span>Baseado nos projetos:</span>
        <a href="https://github.com/DeborahK">
          <h4><b>Deborah Kurata</b></h4>
        </a>
      </div>
      <div>
        <span>Desenvolvido por:</span>
        <a href="https://www.linkedin.com/in/rodrigo-x-a7956a42/">
          <h4><b>Rodrigo G. Ximenes</b></h4>
        </a>
      </div>
    </footer>
  </mat-card-content>
</mat-card>