<mat-card>
  <mat-card-header>
    <mat-card-title>Angular Expert</mat-card-title>
    <mat-card-subtitle>Deep Dive</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>Reactive Forms, RxJs, Angular Routing e Angular Material</p>
    <mat-list >
      <mat-list-item role="listitem">Item 1</mat-list-item>
      <mat-list-item role="listitem">Item 2</mat-list-item>
      <mat-list-item role="listitem">Item 3</mat-list-item>
    </mat-list>
    <div>
      <span>Desenvolvido por:</span>
      <a href="https://www.linkedin.com/in/rodrigo-x-a7956a42/"><h4><b>Rodrigo G. Ximenes</b></h4></a>
    </div>
  </mat-card-content>
</mat-card>