mat-card {
  size: calc(100% - 40px);
  padding: 1.5em;
  margin: 2em;
}

mat-card-header{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

button{
  margin-right: 2em;
}

mat-card-content {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 2em;
}

.linha{
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 2em;
}

.propriedades{
  margin-left: 2em;
}

table {
  width: 100%;
}


